header{
    padding: 5%;
    display: flex;
    align-items: center;
    column-gap: 64px;
    padding-top: 24px;
    width: 100%;
    max-width: 1440px;
}

header img{
    width: 70px;
    height: auto;
}

.navigation{
    display: flex;
    align-items: center;
    column-gap: 48px;
    list-style: none;
}

.nav_link{
    padding: 10px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
    position: relative;

}

.nav_link:hover{
    color: var(--red);
}

.nav_link::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 60%;
    height: 1px;
    background: var(--red);
    transform: scale(0);
    transform-origin: right;
    transition: transform 0.4s;
}

.nav_link:hover::after{
    transform: scale(1);
    transform-origin: left;
    transition: transform 0.4s;
}
.nav_social{
    margin-left: auto;
    display: flex;
    align-items: center;
    column-gap: 24px;


}

.nav_social svg{
    width: 20px;
    height: 20px;
    opacity: 0.6;
    transition: all 0.4s;
}

.nav_social svg:hover{
    opacity: 1;
    transform: translate(-5px);
    cursor: pointer;
}
/* Estilos para telas menores que 768px */
@media (max-width: 768px) {
    /* Exemplo de ajuste do tamanho da logo no cabeçalho */
    img {
      width: 200px;
    }
  
    /* Exemplo de ajuste do tamanho do texto no cabeçalho */
    .navigation {
      font-size: 0.8em;
    }
  
    /* Exemplo de ajuste do tamanho do ícone de mídia social */
    .nav_social svg {
      width: 20px;
      height: 20px;
    }
  }
  